<!DOCTYPE html>
<html lang="en">

<head>
<title>Best Books of 2014 : NPR</title>

    <meta name="description" content="{{ PROJECT_DESCRIPTION }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://media.npr.org/favicon.ico" />

    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!-- WEBFONTS -->
    {{ JS.push('js/lib/webfont.js') }}
    {{ JS.push('js/fonts.js') }}
    {{ JS.render('js/webfonts.min.js') }}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/books14-font/css/books-2014.css" />
    {{ CSS.push('less/app.less') }}
    {{ CSS.push('css/sponsorship.css') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    {# Twitter #}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ COPY.share.twitter_handle }}">
    <meta name="twitter:description" content="{{ COPY.share.twitter_text }}">
    <meta name="twitter:image" content="{{ COPY.share.twitter_image_url }}" />

    {# Facebook #}
    <meta property="og:title" content="{{ COPY.share.facebook_title }}" />
    <meta property="og:url" content="{{ COPY.share.share_url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ COPY.share.facebook_text }}" />
    <meta property="og:image" content="{{ COPY.share.facebook_image_url }}" />
    <meta property="og:site_name" content="NPR.org" />
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />

    {# Google News #}
    <meta name="thumbnail" content="{{ COPY.share.google_news_image_url }}" />

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <a class="sr-only" href="#content">Skip To Content</a>

    {% block outer_content %}

    {% block header_content %}
    {% endblock header_content %}

    <!-- //////////////////////////////////////// CENTER SPONSORSHIP //////////////////////////////////////// -->
    <div id="smallPlacement">
        <div id="smallVersion">
          <div id="sponsorInfoSmall">support for NPR Books comes from <a href="http://www.amazon.com" target="_blank">Amazon</a></div>
            <div id="deviceSmall">
              <a href="http://ad.doubleclick.net/ddm/clk/285207749;111749353;n" target="_blank"><img src="assets/sponsorship/smalldevice.png" width="82"></a>
            </div>
            <div id="copyLogoSmall">
                <img src="assets/sponsorship/smalllogo.jpg">
            </div>
            <div id="copyLineSmall">
                <img src="assets/sponsorship/smallcopyline.jpg">
            </div>
            <div id="buttonSmall">
                <a href="http://ad.doubleclick.net/ddm/clk/285207749;111749353;n" target="_blank">
                    <img src="assets/sponsorship/learnmorebutton.jpg">
                </a>
            </div>
            <div id="amazonLogoSmall">
                <img src="assets/sponsorship/smallamazonlogo.jpg">
            </div>
        </div>
    </div>
    <!-- //////////////////////////////////////// CENTER SPONSORSHIP //////////////////////////////////////// -->

    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main-content" class="col-md-12">
                    {% block content %}
                    <h1>{{ project_name }}</h1>
                    App content goes here.

                    <i class="icon icon-play"></i>
                    {% endblock content %}
                </div>
            </div>
            {% block wide_content %}
            {% endblock wide_content %}
        </div>
    </section>

    <footer>
        <div class="primary">
            <ul>
                <li><a href="http://www.npr.org" data-action="Click Logo"><img src="assets/logo.png" alt="NPR Logo"></a></li>
                <li class="news"><a href="http://www.npr.org/sections/news/">News</a></li>
                <li class="artslife"><a href="http://www.npr.org/sections/arts/">Arts &amp; Life</a></li>
                <li class="music"><a href="http://www.npr.org/music/">Music</a></li>
                <li class="programs"><a href="http://www.npr.org/programs/">Programs</a></li>
                <li class="listen"><a href="http://www.npr.org/listen/">Listen</a></li>
                <li class="about"><a href="http://www.npr.org/about/">About</a></li>
            </ul>
        </div>
        <div class="secondary">
            <p>&copy;2014 NPR</p>
            <ul>
                <li id="footerContact"><a href="http://help.npr.org/npr/includes/customer/npr/custforms/contactus.aspx">Contact</a></li>
                <li><a href="http://www.npr.org/about/termsofuse.html">Terms of Use</a></li>
                <li><a href="http://www.npr.org/about/privacypolicy.html">Privacy</a></li>
                <li><a href="http://thin.npr.org/">Text-Only</a></li>
            </ul>
        </div>
    </footer>
    {% endblock outer_content %}

    {% include '_share_modal.html' %}

    <!-- AD CODE -->
    <script>
        NPR = {};
        NPR.PageInfo = {};
        NPR.PageInfo.getUrlParameter = function (param) {
            return false;
        };
    </script>

    <!-- JS -->
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/lib/jquery-2.1.1.js') }}
    {{ JS.push('js/lib/isotope.pkgd.js') }}
    {{ JS.push('js/lib/imagesloaded.pkgd.js') }}
    {{ JS.push('js/lib/html5.js') }}
    {{ JS.push('js/lib/jquery.scrollTo-1.4.13.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/lib/signals.js') }}
    {{ JS.push('js/lib/hasher.js') }}
    {{ JS.push('js/lib/jquery.unveil.js') }}
    {{ JS.push('js/lib/ZeroClipboard.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    <!-- GOOGLE ANALYTICS -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS.ACCOUNT_ID }}']);
        _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS.DOMAIN }}']);
        //_gaq.push(['_setCustomVar', 1, 'BC', '', 3]);
        _gaq.push(['_setCustomVar', 2, 'Topics', '{{ GOOGLE_ANALYTICS.TOPICS }}', 3]);
        //_gaq.push(['_setCustomVar', 3, 'Program ID', '', 3]);
        //_gaq.push(['_setCustomVar', 3, 'Localization', '', 1]);
        _gaq.push(['_setCustomVar', 4, 'OrgID', '1', 3]);
        _gaq.push(['_setCustomVar', 5, 'Page Types', '1', 3]);

        var orientation = 'portrait';
        
        if (window.orientation == 90 || window.orientation == -90) {
            orientation = 'landscape';
        }
        
        _gaq.push(['_setCustomVar', 6, 'Orientation', orientation, 3]);
        
        var viewportSize = $(window).width();
        var viewportGrouping = '1760 and higher';

        if (viewportSize < 481) {
            viewportGrouping = '0 - 480';
        } else if (viewportSize < 768) {
            viewportGrouping = '481 - 767';
        } else if (viewportSize < 1000) {
            viewportGrouping = '768 - 999';
        } else if (viewportSize < 1201) {
            viewportGrouping = '1000 - 1200';
        } else if (viewportSize < 1760) {
            viewportGrouping = '1201 - 1759';
        }
        
        _gaq.push(['_setCustomVar', 7, 'Viewport Size', viewportGrouping, 3]);

        if (typeof window.devicePixelRatio !== 'undefined' && window.devicePixelRatio >= 1.5) {
            _gaq.push(['_setCustomVar', 10, 'High Density Displays', 'High', 2]);
        } else {
            _gaq.push(['_setCustomVar', 10, 'High Density Displays', 'Low', 2]);
        }
        
        if ('ontouchstart' in document.documentElement) {
            _gaq.push(['_setCustomVar', 11, 'Touch screens', 'Touch', 2]);
        } else {
            _gaq.push(['_setCustomVar', 11, 'Touch screens', 'Traditional', 2]);
        }
        
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>


    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_async_config={};
        /** CONFIGURATION START **/
        _sf_async_config.uid = 18888;
        _sf_async_config.domain = "npr.org";
        /** CONFIGURATION END **/
        (function(){
            function loadChartbeat() {
                window._sf_endpt=(new Date()).getTime();
                var e = document.createElement("script");
                e.setAttribute("language", "javascript");
                e.setAttribute("type", "text/javascript");
                e.setAttribute("src",
                    (("https:" == document.location.protocol) ?
                     "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" :
                     "http://static.chartbeat.com/") +
                    "js/chartbeat.js");
                document.body.appendChild(e);
            }
            var oldonload = window.onload;
            window.onload = (typeof window.onload != "function") ?
                loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
    </script>
</body>
</html>
