@font-face {
  font-family: 'books-2014';
  src: url('../font/books-2014.eot?92539176');
  src: url('../font/books-2014.eot?92539176#iefix') format('embedded-opentype'),
       url('../font/books-2014.woff?92539176') format('woff'),
       url('../font/books-2014.ttf?92539176') format('truetype'),
       url('../font/books-2014.svg?92539176#books-2014') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'books-2014';
    src: url('../font/books-2014.svg?92539176#books-2014') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "books-2014";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-th:before { content: '\e800'; } /* '' */
.icon-list-bullet:before { content: '\e801'; } /* '' */
.icon-cancel-circled2:before { content: '\e802'; } /* '' */
.icon-minus-circled:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-left-open:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-pinterest-circled:before { content: '\e809'; } /* '' */
.icon-up-hand:before { content: '\e80a'; } /* '' */
.icon-export:before { content: '\e80b'; } /* '' */