
.icon-bank:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-hand:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-th:before { content: '\e805'; } /* '' */
.icon-pinterest-circled:before { content: '\e806'; } /* '' */
.icon-minus-circled:before { content: '\e807'; } /* '' */
.icon-list-bullet:before { content: '\e808'; } /* '' */
.icon-cancel-circled2:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-export:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-town-hall:before { content: '\e80e'; } /* '' */